<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/newsflashes">NewsFlashes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/newsflashes">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/savednews">Saved Articles</a>
                </li>
                <li>
                    <button type="button" class="btn btn-outline-success" id="scrapeBtn">Scrape New Articles!</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div id="headings">
            <p2>NewsFlashes</p2>
            <br>
            <p1>USA Today</p1>
            <br>
            <p2>World News</p2>
        </div>
        <p4>Photo by charlotte on Unsplash</p4>

    </div>
    <br>
    <div class="scrapedNews">
        {{#each newsFlash}} {{#unless saved}}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">{{this.title}}</th>
                    <th>
                        <button class="btn btn-success" id="{{this.id}}">Save NewsFlash</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <th scope="row">{{this.summary}}</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
        {{/unless}} {{/each}}
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">NewsFlashes scraped from USA Today</a>
    </nav>

</body>

</html>